body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    background-color: rgb(42, 174, 227);
    margin: 0;
    height: 80px;
    align-items: center;
}

ul {
    list-style: none;
}

li {
    float: left;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.menu li:hover {
    background-color: bisque;
    border-radius: 4px;
}

.menu li {
    padding: 10px;
}

.ham-icon {
    display: none;
    cursor: pointer;
    margin-left: auto;
    padding: 10px;
}

@media screen and (max-width: 550px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        width: 100%;
        text-align: center;
        flex-direction: column;
    }
    .navbar.active .menu {
        display: flex;
    }

    .ham-icon {
        display: flex;
    }
}
