*{
    text-align: center;
}

html{
    background-color: beige;
    font-size: 16px;
}

body{
 width: 640px;
 margin: auto;
}

h1{
    font-size: 48px;
    font-family: sans-serif;
}
h2{
    font-family:system-ui;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50px;
}
p {
    font-size: 1.2rem;
    font-family:system-ui;
}

strong {
    color: blueviolet;
}